@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-RegularItalic.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

body {
  border: 1px solid #121212;
}

/*
============
Global Style
============
*/
h1, h2, h3, h4, h5 {
  color: #121212;
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/*
============
Common Class
============
*/
.main-heading {
  font-size: 40px;
  font-weight: 600;
}

.sec-heading {
  font-size: 34px;
  font-weight: 600;
}

.content-heading {
  font-size: 26px;
  font-weight: 500;
}

.description-14, .description-16 {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.description-16 {
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 16px 24px 14px 24px;
  border: 1px solid #121212;
}

.btn a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  color: #121212;
}

.shop-now {
  display: flex;
  column-gap: 5px;
  letter-spacing: 0.35px;
  font-size: 14px;
  font-weight: 600;
}

.gray-head {
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}

.sec-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  color: #121212;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .main-heading {
    font-size: 67px;
  }
  .sec-heading {
    font-size: 50px;
  }
  .content-heading {
    font-size: 38px;
  }
  .common-pera {
    font-size: 18px;
  }
  .btn {
    width: initial;
    padding: 16px 24px 14px 24px;
  }
  .btn a {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
  .shop-now {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  .gray-head {
    font-size: 21px;
  }
  .sec-name {
    font-size: 14px;
  }
}
/*
======
Header
======
*/
header {
  border-bottom: 1px solid #121212;
}
header .hide-menu {
  display: flex;
  justify-content: space-between;
}
header .hide-menu li {
  padding: 12px 16px;
}
header .hide-menu li:nth-child(1) {
  border-right: 1px solid #121212;
  padding: 16px 18px 8px 18px;
  font-size: 18px;
}
header .hide-menu li:nth-child(2) {
  border-left: 1px solid #121212;
}
header div {
  display: none;
}

@media only screen and (min-width: 1440px) {
  header .hide-menu {
    display: none;
  }
  header div {
    display: flex;
    justify-content: space-between;
  }
  header div ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header div ul li {
    padding: 30px 55px;
  }
  header div ul li a {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.4px;
    font-weight: 500;
    color: #121212;
  }
  header div ul:nth-child(1) li {
    border-right: 1px solid #121212;
  }
  header div ul:nth-child(2) li {
    border-left: 1px solid #121212;
  }
}
/*
====
Main
====
*/
main .main-content {
  padding: 40px 16px;
}
main .main-content .main-heading-wrap {
  border-bottom: 0.81px solid #121212;
  padding-bottom: 24px;
}
main .main-content .main-heading-wrap h1 {
  margin-bottom: 16px;
}
main .main-content .main-heading-wrap .italic {
  font-style: italic;
}
main .main-content div:nth-child(2) {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
main .main-content div:nth-child(2) .img-wrap {
  width: 45%;
  margin-right: 16px;
}
main .main-content div:nth-child(2) .img-wrap img {
  width: 100%;
  height: 100%;
}
main .main-content div:nth-child(2) .description-wrap {
  padding-left: 16px;
  margin-top: 0px;
  width: 50%;
  border-left: 0.81px solid #121212;
  display: flex;
  align-items: end;
}
main .main-content div:nth-child(2) .description-wrap p {
  font-size: 11px;
  font-weight: 400;
  color: #121212;
  line-height: 120%;
}
main .flower-category {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
main .flower-category .item {
  border: 1px solid #121212;
}
main .flower-category .item img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  main .main-content {
    padding: 90px;
  }
  main .main-content .main-heading-wrap {
    padding-bottom: 54px;
  }
  main .main-content div:nth-child(2) {
    margin-top: 24px;
  }
  main .main-content div:nth-child(2) .description-wrap {
    padding-left: 24px;
  }
  main .main-content div:nth-child(2) .description-wrap p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-content {
    width: 50%;
  }
}
/*
=====
About
=====
*/
#about-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-top: 1px solid #121212;
}
#about-us .content {
  padding: 40px 16px;
}
#about-us .content:first-child {
  border-bottom: 1px solid #121212;
}
#about-us .content:last-child h2 {
  margin: 24px 0px 16px 0px;
}
#about-us .content:last-child button {
  margin-top: 64px;
}

@media only screen and (min-width: 768px) {
  #about-us .content {
    padding: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  #about-us {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  #about-us .content:first-child {
    border-right: 1px solid #121212;
  }
}
/*
============
why chose us
============
*/
#why-chose-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
#why-chose-us .content {
  padding: 40px 16px;
  border-top: 1px solid #121212;
}
#why-chose-us .content p {
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  #why-chose-us .content {
    padding: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  #why-chose-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }
  #why-chose-us .content:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/5;
    border-right: 1px solid #121212;
  }
}
/*
==========
Contact Us
==========
*/
.follow-us .img-wrap {
  width: 100%;
}
.follow-us .img-wrap img {
  width: 100%;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.follow-us div:nth-child(2) {
  padding: 16px;
}
.follow-us div:nth-child(2) .social-wrap {
  display: flex;
  column-gap: 32px;
  margin-top: 16px;
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.contact-us .content .heading-wrap {
  padding: 16px;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.contact-us .content .wrapper {
  padding: 40px 16px;
  display: flex;
  flex-flow: column;
  row-gap: 16px;
}
.contact-us .content .wrapper p {
  font-size: 12px;
  font-weight: 600;
}
.contact-us .content .wrapper div {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.contact-us .content .wrapper div span {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
  letter-spacing: 0.4px;
}
.contact-us .content:nth-child(1) {
  padding: 40px 16px;
  border-top: 1px solid #121212;
}
.contact-us .content:nth-child(1) h2 {
  margin-bottom: 24px;
}
.contact-us .content:nth-child(1) p {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  line-height: 140%;
}
.contact-us .content:nth-child(1) form {
  margin-top: 16px;
  display: flex;
  flex-flow: column;
  row-gap: 16px;
}
.contact-us .content:nth-child(1) form input {
  padding: 12px 16px;
  border: 1px solid #D2D2D7;
}
.contact-us .content:nth-child(1) form button {
  background-color: #121212;
}
.contact-us .content:nth-child(1) form button a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .follow-us .img-wrap {
    height: 500px;
  }
  .follow-us .img-wrap img {
    height: 100%;
  }
  .follow-us div:nth-child(2) {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .follow-us div:nth-child(2) h2 {
    text-align: center;
    border-right: 1px solid #121212;
    padding: 16px 0px;
  }
  .follow-us div:nth-child(2) .social-wrap {
    justify-content: center;
    margin-top: 0px;
  }
  .contact-us {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .contact-us .content .heading-wrap {
    text-align: center;
  }
  .contact-us .content .wrapper {
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-us .content .wrapper p {
    font-size: 14px;
  }
  .contact-us .content:nth-child(1) {
    grid-column: 1/3;
    padding: 80px;
  }
  .contact-us .content:nth-child(1) form {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
  }
  .contact-us .content:nth-child(1) form input {
    width: 48%;
  }
  .contact-us .content:nth-child(1) form button {
    width: 48%;
  }
  .contact-us .content:nth-child(2) {
    border-right: 1px solid #121212;
  }
}
@media only screen and (min-width: 1440px) {
  #company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .follow-us {
    order: 2;
  }
  .follow-us .img-wrap {
    height: 90%;
  }
  .contact-us {
    order: 1;
    border-right: 1px solid #121212;
  }
}
/*
===========
Our Service
===========
*/
#our-service {
  border-top: 1px solid #121212;
}
#our-service .heading {
  padding: 40px 16px;
}
#our-service .flower-subcription {
  border-top: 1px solid #121212;
}
#our-service .flower-subcription .img-wrap {
  width: 100%;
}
#our-service .flower-subcription .img-wrap img {
  width: 100%;
  border-bottom: 1px solid #121212;
}
#our-service .flower-subcription .content {
  padding: 40px 16px;
  text-align: center;
}
#our-service .flower-subcription .content h2 {
  margin: 16px 0px;
}
#our-service .flower-subcription .content button {
  margin-top: 64px;
}
#our-service .weding-service {
  background-image: url(../images/weading-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 1px solid #121212;
  padding: 40px 16px;
  color: white;
  position: relative;
  isolation: isolate;
}
#our-service .weding-service ::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #121212;
  opacity: 0.1;
}
#our-service .weding-service p {
  color: white;
}
#our-service .weding-service h2 {
  margin: 24px 0px 16px 0px;
  color: white;
}
#our-service .weding-service button {
  margin-top: 64px;
  border: 1px solid white;
}
#our-service .weding-service button a {
  color: white;
}

@media only screen and (min-width: 768px) {
  #our-service .weding-service {
    padding: 106px 80px;
  }
  #our-service .heading {
    padding: 80px 80px;
    text-align: center;
  }
  #our-service .flower-subcription .content {
    padding: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  #our-service .weding-service {
    padding: 216px 80px;
    display: flex;
    justify-content: center;
  }
  #our-service .weding-service .content-wrap {
    max-width: 586px;
  }
  #our-service .flower-subcription {
    display: flex;
    align-items: center;
  }
  #our-service .flower-subcription .img-wrap img {
    margin-bottom: -5px;
  }
}
/*
==============
CLient Reviews
==============
*/
#client-reviews {
  padding: 40px;
  text-align: center;
  border-top: 1px solid #121212;
}
#client-reviews div:nth-child(1) {
  margin-bottom: 24px;
}
#client-reviews div:nth-child(1) p {
  margin-top: 8px;
}
#client-reviews div:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
  margin-bottom: 32px;
}
#client-reviews div:nth-child(2) p {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  line-height: 120%;
}
#client-reviews div:nth-child(2) .client-name {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  #client-reviews {
    padding: 80px;
  }
  #client-reviews div:nth-child(2) {
    margin-bottom: 60px;
  }
  #client-reviews div:nth-child(2) p {
    font-size: 32px;
  }
  #client-reviews div:nth-child(2) .client-name {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
}
/*
======
Footer
======
*/
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}
footer .content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
  padding: 40px 16px;
  border-top: 1px solid #121212;
}
footer .content ul {
  display: flex;
  flex-flow: column wrap;
  row-gap: 8px;
}
footer .content ul li {
  font-size: 14px;
  font-weight: 500;
  color: #121212;
  letter-spacing: 0.35px;
  line-height: 120%;
}
footer .content:nth-child(1) p {
  display: flex;
  flex-flow: column wrap;
}
footer .content:nth-child(1) form {
  display: flex;
  flex-flow: column wrap;
}
footer .content:nth-child(1) form input {
  padding: 12px 16px;
  border: 0.5px solid #D2D2D7;
  margin-bottom: 16px;
}
footer .content:nth-child(1) form input ::placeholder {
  font-size: 14px;
}
footer .content:nth-child(1) form button {
  border: none;
  background-color: #121212;
}
footer .content:nth-child(1) form button a {
  color: white;
}
footer .content:nth-child(2) div p:nth-child(1) {
  color: #808080;
  margin-bottom: 8px;
  font-size: 14px;
}
footer .content:nth-child(2) div .description-14, footer .content:nth-child(2) div .description-16 {
  font-weight: 500;
}
footer .content:nth-child(2) .social-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 32px;
}

@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer .content {
    row-gap: 24px;
    padding: 40px;
  }
  footer .content ul li {
    font-size: 16px;
  }
  footer .content:nth-child(1) {
    border-right: 1px solid #121212;
  }
  footer .content:nth-child(3) {
    border-right: 1px solid #121212;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer .content:nth-child(2) {
    border-right: 1px solid #121212;
  }
}

/*# sourceMappingURL=style.css.map */
