/*
======
Footer
======
*/

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  .content {
    display: flex;
    flex-flow: column wrap;
    row-gap: 16px;
    padding: 40px 16px;
    border-top: 1px solid $black;

    ul {
      display: flex;
      flex-flow: column wrap;
      row-gap: 8px;

      li {
        font-size: 14px;
        font-weight: 500;
        color: $black;
        letter-spacing: 0.35px;
        line-height: 120%;
      }
    }
  }
  .content:nth-child(1) {
    p {
      display: flex;
      flex-flow: column wrap;
    }
    form {
      display: flex;
      flex-flow: column wrap;

      input {
        padding: 12px 16px;
        border: 0.5px solid $light-gray;
        margin-bottom: 16px;

        ::placeholder {
          font-size: 14px;
        }
      }

      button {
        border: none;
        background-color: $black;

        a {
          color: white;
        }
      }
    }
  }
  .content:nth-child(2) {
    div {
      p:nth-child(1) {
        color: $gray;
        margin-bottom: 8px;
        font-size: 14px;
      }
      .description-14 {
        font-weight: 500;
      }
    }
    .social-wrap {
      display: flex;
      flex-flow: row wrap;
      column-gap: 32px;
    }
  }
}

@include media(768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .content {
      row-gap: 24px;
      padding: 40px;

      ul {
        li {
          font-size: 16px;
        }
      }
    }
    .content:nth-child(1) {
        border-right: 1px solid $black;
    }
    .content:nth-child(3) {
        border-right: 1px solid $black;
    }    
  }
}

@include media(1440px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .content:nth-child(2) {
            border-right: 1px solid $black;
        }
    }
}
