/*
====
Main
====
*/
main {
  .main-content {
    padding: 40px 16px;

    .main-heading-wrap {
      border-bottom: 0.81px solid $black;
      padding-bottom: 24px;

      h1 {
        margin-bottom: 16px;
      }
      .italic {
        font-style: italic;
      }
    }
    div:nth-child(2) {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

      .img-wrap {
        width: 45%;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .description-wrap {
        padding-left: 16px;
        margin-top: 0px;
        width: 50%;
        border-left: 0.81px solid $black;
        display: flex;
        align-items: end;
        p {
          font-size: 11px;
          font-weight: 400;
          color: $black;
          line-height: 120%;
        }
      }
    }
  }
  .flower-category {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid $black;

    .item {
      img {
        width: 100%;
        margin-bottom: -4px;
      }
    }
    .item:nth-child(1),
    :nth-child(4),
    :nth-child(5),
    :nth-child(8),
    :nth-child(9) {
      border-bottom: 1px solid $black;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      position: relative;

      button {
        position: absolute;
        bottom: 15px;
      }
    }
    .item:nth-child(4),
    :nth-child(8) {
      border-left: 1px solid $black;
    }
  }
}

@include media(768px) {
  main {
    .main-content {
      padding: 90px;

      .main-heading-wrap {
        padding-bottom: 54px;

        p{
          font-size: 18px;
        }
      }
      div:nth-child(2) {
        margin-top: 24px;
        .description-wrap {
          padding-left: 24px;
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include media(1440px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    .main-content{
      padding: 80px;
      border-bottom: 1px solid $black;

      div:nth-child(2) {
        .img-wrap{
          height: 253px;

          img{
            height: 100%;
          }
        }
      }
    }

    .flower-category{
      .item:nth-child(1), :nth-child(5), :nth-child(9) {
        border-left: 1px solid $black;
      }
    }
  }
}
