@import "./_fonts";

$black: #121212;
$Gilroy: "Gilroy";

@mixin media($screen-size) {
    @media only screen and (min-width: $screen-size) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Gilroy;
}

/*
============
Global Style
============
*/
h1,h2,h3,h4,h5{
    color: $black;
    line-height: 120%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
}

/*
============
Common Class
============
*/
.main-heading{
    font-size: 40px;
    font-weight: 600;
}
.sec-heading{
    font-size: 34px;
    font-weight: 600;
}
.content-heading{
    font-size: 26px;
    font-weight: 500;
}
.common-pera{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
.btn{
    width: 100%;
    padding: 16px 24px 14px 24px;
    border: 1px solid $black;
}
.btn a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .35px;
}
.shop-now{
    display: flex;
    column-gap: 5px;
    letter-spacing: .35px;
    font-size: 14px;
    font-weight: 600;
}

@include media(768px) {

    .main-heading{
        font-size: 67px;
    }
    .sec-heading{
        font-size: 50px;
    }
    .content-heading{
        font-size: 38px;
    }
    .common-pera{
        font-size: 18px;
    }
    .btn{
        width: initial;
        padding: 16px 24px 14px 24px;
    }
    .btn a{
        font-size: 16px;
        letter-spacing: .48px;
    }
    .shop-now{
        font-size: 16px;
        letter-spacing: .4px;
    }
}