@import "./_fonts";

$black: #121212;
$Gilroy: "Gilroy";

@mixin media($screen-size) {
    @media only screen and (min-width: $screen-size) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Gilroy;
}

/*
============
Global Style
============
*/
h1,h2,h3,h4,h5{
    color: $black;
    line-height: 120%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
}

/*
============
Common Class
============
*/
.main-heading{
    font-size: 40px;
    font-weight: 600;
}
.sec-heading{
    font-size: 34px;
    font-weight: 600;
}
.content-heading{
    font-size: 26px;
    font-weight: 500;
}

@include media(768px) {

    .main-heading{
        font-size: 67px;
    }
    .sec-heading{
        font-size: 50px;
    }
    .content-heading{
        font-size: 38px;
    }
}